
.raleway-normal-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter-normal-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: bold;
}
/* nav style */
nav{
display: flex;
justify-content: space-between;
}
/* color font */
.logo{
    font-size: 40px;
    color: #4E47FF;
}
.btn-primary{
color: white;
background-color:#4E47FF;
border: none;
border-radius: 5px;
padding: 15px 35px;
margin: 20px 35px;
}
.btn-primary:hover{
background-color: coral;
}
.raleway-font{
    text-align: center;
    font-size: 35px;
    padding: 45px;
    font-style: italic;
}
header{
    background-image: url('/images/Hero-bg.png');
}
.action
{
  display: flex;
  justify-content:space-around;
  margin: 75px 150px;
}
.action-image{
  border-radius: 20px;
}
.action-items{
  text-align: left;

}
.action-title{
  font-size: 42px;
  color: #252432;
}
.action-details{
  font-size: 24px;
  color: #302432;
}
.users{
  background-color: #e9ecff;
  margin: 100px 150px;
  padding: 25px 0px;
  border-radius: 20px;
}
.user-title{
  text-align: center;
  font-size: 40px;
}
h1{
  text-align: center;
  color: #4E47FF;
  font-size: 70px;
  /* font-weight: bold; */
  padding-bottom: 0px;
}
.user-content{
  display: flex;
  justify-content: center;
  gap: 30px;
}

/*Feedback Section */
.all-feedback{
  display: flex;
  justify-content: center;
  margin: 50px 100px;
}
.feedback-1{
  background-color: aliceblue;
  margin: 20px 30px;
  padding: 20px 30px;
  border-radius: 15px;
}
.feedback-2{
  background-color: aliceblue;
  margin: 20px 30px;
  padding: 20px 30px;
  border-radius: 15px;
}
.feedback-3{
  background-color: aliceblue;
  margin: 20px 30px;
  padding: 20px 30px;
  border-radius: 15px;
}
.feedback-title{
  font-size: 45px;
  text-align: center;
}

.user-feedback{
  display: flex;
}
/* Extra Section */
.extra-section{
    margin: 70px 150px;
    padding: 50px 100px;
}
.extra-heading{
    font-size: 45px;
}
.extra-title{
    text-align: center;
    padding: 20px;
}
.extra-image{
    justify-content: center;
    border-radius: 30px;
    
}

.touch-heading{
  font-size: 80px;
}
.contact-section{
  justify-content:space-around;
  margin: 100px 200px;
  gap: 100px;
  display: flex;
  background-color:#D6DDED;
  padding: 20px 20px;
  border-radius: 20px;
}
/* Footer Section */
.footer-logo{
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
}
.footer-content{
  text-align: center;
  color: #8987A1;
}
.footer-links{
  display: flex;
  gap: 20px;
  justify-content: center;
}
ul li{
  list-style: none;
}


    
    


